@import "tailwindcss";

@theme {
  --color-dark-bg: #FCF8F8;
  --color-primary: #FCC8D166;
  --color-secondary: #F9DFDF;
  --color-filler: #BE5985;
  --color-text: #850E35;
  --color-navbar: #F5AFAF;
  --color-button: #F9DFDF;
  --color-text-light: #FEF2F4;
}

* {
    font-family: "Outfit", sans-serif;
}

/* Aurora background */

.aurora-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.aurora {
  position: absolute;
  width: 60vw;
  height: 60vw;
  border-radius: 50%;
  filter: blur(120px);
  opacity: 0.6;
  animation: auroraMove 10s infinite alternate ease-in-out;
}

.aurora1 {
  background: #D14D72;
  top: -10%;
  left: -10%;
}

.aurora2 {
  background: #850E35;
  top: 40%;
  right: -20%;
  animation-delay: 2s;
}

.aurora3 {
  background: #EE6983;
  bottom: -20%;
  left: 30%;
  animation-delay: 4s;
}

@keyframes auroraMove {
  0% {
    transform: translate(0,0) scale(1);
  }
  50% {
    transform: translate(120px,-80px) scale(1.2);
  }
  100% {
    transform: translate(-80px,100px) scale(1);
  }
}